*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Navbar */
.miNav{
    background-color: #323b41 ;
    position: sticky !important;
    top: 0;
    z-index: 1;
}
.navLinks{
    text-decoration: none;
    color:#73827b ;
}
.tickets{
    color:  #81c53d ;
}
.nav-item :hover{
    color: white
}

/* Sections */

    /* Conferencia */
    .miImg {
        object-fit: cover;
        opacity: 0.4;
    }

    .ConfConteiner{
        margin-top: 8%;
        padding-top: 10%;
        margin-right: 100px ;
    }

    .ConfTitulo{
        font-size: 50px;
    }

    .ConfText{
        width: 52%;
        font-size: 23px;
        font-weight:450;
    }

    .btnOrador{
        background-color: transparent !important;
        border-color: white !important;
        font-size: 20px !important;
        padding: 5.1px !important;
        width: 185px;
    }

    .btnTickets{
        background-color: #29a744 !important;
        border-color: #29a744 !important;
        font-size: 21px !important;
        width: 185px;
    }